In [60]:
%matplotlib inline
import pandas as pd
import seaborn as sns
import math
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np

In [61]:
df_Ball = pd.read_csv('C:/Users/matti/Documents/data/BALL.csv')
df_Ball.sample(5).style

In [62]:
df_CB = pd.read_csv('C:/Users/matti/Documents/data/CB.csv')
df_CB.sample(5).style

In [63]:
df_CEG = pd.read_csv('C:/Users/matti/Documents/data/CEG.csv')
df_CEG.sample(5).style

In [64]:
df_LMT = pd.read_csv('C:/Users/matti/Documents/data/LMT.csv')
df_LMT.sample(5).style

In [65]:
print(df_CEG.columns)

Index(['Date', 'High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [66]:
if df_CEG['Close'].equals(df_CEG['Adj Close']):
    print("Every 'Adj Close' is the same as 'Close'")
else:
    print("Not every 'Adj Close' is the same as 'Close'")

Every 'Adj Close' is the same as 'Close'

In [67]:
if df_CB['Close'].equals(df_CB['Adj Close']):
    print("Every 'Adj Close' is the same as 'Close'")
else:
    print("Not every 'Adj Close' is the same as 'Close'")

Not every 'Adj Close' is the same as 'Close'

In [68]:
if df_LMT['Close'].equals(df_LMT['Adj Close']):
    print("Every 'Adj Close' is the same as 'Close'")
else:
    print("Not every 'Adj Close' is the same as 'Close'")

Not every 'Adj Close' is the same as 'Close'

In [69]:
if df_Ball['Close'].equals(df_Ball['Adj Close']):
    print("Every 'Adj Close' is the same as 'Close'")
else:
    print("Not every 'Adj Close' is the same as 'Close'")

Not every 'Adj Close' is the same as 'Close'

In [70]:
# not every is the same. That means, that there has bee dividends, stocksplits or so

In [73]:
combined_df = pd.concat([df_Ball, df_LMT, df_CB, df_CEG], axis=1)
combined_df = combined_df.groupby('Date')['Adj Close'].agg(['max', 'min'])
print(combined_df)

ValueError: Grouper for 'Date' not 1-dimensional

In [74]:
high = df_Ball['Adj Close'].max()
low = df_Ball['Adj Close'].min()

print(f"Highest 'Adj Close': {high}")
print(f"Lowest 'Adj Close': {low}")

Highest 'Adj Close': 96.76301574707033
Lowest 'Adj Close': 33.981536865234375

In [75]:
high = df_LMT['Adj Close'].max()
low = df_LMT['Adj Close'].min()

print(f"Highest 'Adj Close': {high}")
print(f"Lowest 'Adj Close': {low}")

Highest 'Adj Close': 494.1199951171875
Lowest 'Adj Close': 224.6717529296875

In [76]:
high = df_CB['Adj Close'].max()
low = df_CB['Adj Close'].min()

print(f"Highest 'Adj Close': {high}")
print(f"Lowest 'Adj Close': {low}")

Highest 'Adj Close': 215.9415283203125
Lowest 'Adj Close': 89.80359649658203

In [77]:
high = df_CEG['Adj Close'].max()
low = df_CEG['Adj Close'].min()

print(f"Highest 'Adj Close': {high}")
print(f"Lowest 'Adj Close': {low}")

Highest 'Adj Close': 95.5199966430664
Lowest 'Adj Close': 41.89799880981445

In [78]:
df_Log_CEG = np.log(df_CEG['Adj Close'] / df_CEG['Adj Close'].shift(1))
returns_summary = df_Log_CEG.agg(['min', 'max', 'mean', 'median'])


print(returns_summary)

min      -0.084657
max       0.151136
mean      0.003823
median    0.002553
Name: Adj Close, dtype: float64

In [79]:
df_Log_CB = np.log(df_CB['Adj Close'] / df_CB['Adj Close'].shift(1))
returns_summary = df_Log_CB.agg(['min', 'max', 'mean', 'median'])


print(returns_summary)

min      -0.183603
max       0.085028
mean      0.000327
median    0.000691
Name: Adj Close, dtype: float64

In [80]:
df_Log_LMT = np.log(df_LMT['Adj Close'] / df_LMT['Adj Close'].shift(1))
returns_summary = df_Log_LMT.agg(['min', 'max', 'mean', 'median'])


print(returns_summary)

min      -0.136526
max       0.101906
mean      0.000408
median    0.001021
Name: Adj Close, dtype: float64

In [81]:
df_Log_Ball = np.log(df_Ball['Adj Close'] / df_Ball['Adj Close'].shift(1))
returns_summary = df_Log_Ball.agg(['min', 'max', 'mean', 'median'])


print(returns_summary)

min      -0.205581
max       0.114140
mean      0.000308
median    0.000873
Name: Adj Close, dtype: float64

In [82]:

date_highest_gain = df_Log_Ball.idxmax()

date_highest_loss = df_Log_Ball.idxmin()

print(f"Date of highest gain: {date_highest_gain}")
print(f"Date of highest loss: {date_highest_loss}")

Date of highest gain: 592
Date of highest loss: 1188

In [83]:
date_highest_gain = df_Log_LMT.idxmax()

date_highest_loss = df_Log_LMT.idxmin()

print(f"Date of highest gain: {date_highest_gain}")
print(f"Date of highest loss: {date_highest_loss}")

Date of highest gain: 587
Date of highest loss: 584

In [84]:
date_highest_gain = df_Log_CB.idxmax()

date_highest_loss = df_Log_CB.idxmin()

print(f"Date of highest gain: {date_highest_gain}")
print(f"Date of highest loss: {date_highest_loss}")

Date of highest gain: 592
Date of highest loss: 586

In [85]:
date_highest_gain = df_Log_CEG.idxmax()

date_highest_loss = df_Log_CEG.idxmin()

print(f"Date of highest gain: {date_highest_gain}")
print(f"Date of highest loss: {date_highest_loss}")

Date of highest gain: 131
Date of highest loss: 13

In [86]:
df_Date_CB = pd.to_datetime(df_CB['Date'])
avg_weekly_vol = df_Date_CB['Volume'].resample('W').mean()

print(avg_weekly_vol)

KeyError: 'Volume'